{{ define "main" }}
    <div class="container pt-16 pb-20 font-rubik text-center mx-auto px-5 md:px-10 xl:px-0">
        <h1 class="title-list text-[#4B9FD8] mb-4">Tentang Kami</h1>

        <p class="desc-pg md:text-lg">Halo terimakasih telah mengunjungi website mading digital kami , Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nulla laboriosam sint rem quaerat voluptatem non saepe quia distinctio doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur in dignissimos laborum quae perspiciatis aliquid quibusdam libero consequuntur dolor exercitationem, repellat rerum excepturi iure nobis reprehenderit, sed eius sapiente ex.</p>
    </div>
{{ end }}