<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        <script src="https://unpkg.com/simple-aos@4.1.0/dist/aos.js"></script>
        <script>
            AOS.init({
                once: true
            });
        </script>
        <script>
            const menunav = document.querySelector('.menu-nav')
            const menu_list_nav = document.querySelector('.menu-list-nav')
            let isOpen = false

            menunav.addEventListener('click',() => {
                isOpen = isOpen ? false : true
                if (isOpen) {
                    menu_list_nav.classList.remove('h-0')
                    menu_list_nav.classList.remove('overflow-hidden')
                    menu_list_nav.classList.add('h-[80px]')
                }else{
                    menu_list_nav.classList.remove('h-[80px]')
                    menu_list_nav.classList.add('h-0')
                    menu_list_nav.classList.add('overflow-hidden')
                }
            }) 
        </script>
        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbxObiFXxGMD8Yz8klsMWkTYzRwqP4ojgU3VBe7U_G2ecYmzBKAhBSTwV5Ly4EoMQNTr/exec'
            const form = document.forms['submit-to-google-sheet']
            const btnKirim = document.querySelector('.btn-kirim')
            const btnLoading = document.querySelector('.btn-loading')
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              btnLoading.classList.toggle('hidden')
              btnKirim.classList.toggle('hidden')
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(response => {
                    btnLoading.classList.toggle('hidden')
                    btnKirim.classList.toggle('hidden')

                    form.reset()
                    new Noty({
                        layout: 'bottomRight',
                        type: 'success',
                        theme: 'semanticui',
                        progressBar: true,
                        timeout: 4000,
                        text: 'Kritik dan saran terkirim , terimakasih'
                    }).show();
                })
                .catch(error => console.error('Error!', error.message))
            })
          </script>
    </body>
</html>
