<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        <script src="https://unpkg.com/simple-aos@4.1.0/dist/aos.js"></script>
        <script>
            AOS.init({
                once: true
            });
        </script>
        <script>
            const menunav = document.querySelector('.menu-nav')
            const menu_list_nav = document.querySelector('.menu-list-nav')
            let isOpen = false

            menunav.addEventListener('click',() => {
                isOpen = isOpen ? false : true
                if (isOpen) {
                    menu_list_nav.classList.add('border-b')
                    menu_list_nav.classList.remove('h-0')
                    menu_list_nav.classList.add('h-[145px]')
                    menu_list_nav.classList.add('pt-4')
                }else{
                    menu_list_nav.classList.remove('border-b')
                    menu_list_nav.classList.remove('h-[145px]')
                    menu_list_nav.classList.remove('pt-4')
                    menu_list_nav.classList.add('h-0')
                }
            }) 
        </script>
        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbxObiFXxGMD8Yz8klsMWkTYzRwqP4ojgU3VBe7U_G2ecYmzBKAhBSTwV5Ly4EoMQNTr/exec'
            const form = document.forms['submit-to-google-sheet']
            const btnKirim = document.querySelector('.btn-kirim')
            const btnLoading = document.querySelector('.btn-loading')
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              btnLoading.classList.toggle('hidden')
              btnKirim.classList.toggle('hidden')
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(response => {
                    btnLoading.classList.toggle('hidden')
                    btnKirim.classList.toggle('hidden')

                    form.reset()
                    new Noty({
                        layout: 'bottomRight',
                        type: 'success',
                        theme: 'semanticui',
                        progressBar: true,
                        timeout: 4000,
                        text: 'Kritik dan saran terkirim , terimakasih'
                    }).show();
                })
                .catch(error => console.error('Error!', error.message))
            })
          </script>

          <script>
            let searchInput = document.querySelector('#searchInput'),
                searchResult = document.querySelector('#searchResult');

let dataJSON;

// add keydown listener, when user hit '/', it will focus on search input (Desktop)
window.addEventListener('keydown', function(event) {
    if (event.key === '/') {
        event.preventDefault()
        searchInput.focus()
    }
})
// add keydown listener, when user hit 'ESC', it will close search result and unfocus search input.
window.addEventListener('keydown', function(event) {
    if (event.keyCode === 27)
    {
        searchInput.value = '';
        searchResult.innerHTML = '';
        searchInput.blur()
    }
})
/**
 * Get the posts lists in json format.
 */
const getPostsJSON = async () => {
    let response = await fetch('/index.json')
    let data = await response.json()
    return data
}
/**
 * @param query, element.
 * query: the keyword that user given.
 * element: target element to show the result.
 */
const filterPostsJSON = (query, element) => {
    let result, itemsWithElement;
    query = new RegExp(query, 'ig')
    result = dataJSON.filter(item => query.test(item.title))
    itemsWithElement = result.map(item => (
        `<a href="${item.url}">
                <div class="xl:w-[60%] lg:w-[80%] relative border p-5 rounded-lg shadow-lg mb-10 mx-auto">
                    <h3 class="text-xl font-semibold mb-5">${item.title}</h3>
                    <img src="${item.thumbnail}" class="w-full rounded-lg" alt="">
                </div>
        </a>`
    ))
    element.style.display = 'block';
    element.innerHTML = itemsWithElement.join('');
}
/**
 * searchInputAction take two arguments, event and callback
 */ 
const searchInputAction = (event, callback) => {
    searchInput.addEventListener(event, callback)
}
/**
 * When user focus on the search input, function getPostsJSON called.
 */
searchInputAction('focus', () => getPostsJSON().then(data => dataJSON = data))
/**
 * filtering result with the query that user given on search input.
 */
searchInputAction('keyup', (event) => filterPostsJSON(event.target.value, searchResult))
          </script>
    </body>
</html>
