<footer class="bg-[#3C4048] py-10">
    <div class="xl:container w-[80vw] mx-auto text-center">
        <img src="/images/stmbalunglogo.png" class="mx-auto mb-3" alt="">
        <p class="font-rubik text-white text-xl mb-5">SMK BISA!!</p>
        <div class="border-2 border-white w-full bg-white rounded-lg mb-8"></div>
        <div>
            <a href=""><i class="bi bi-instagram py-2 px-3 rounded-full border border-white text-white mr-2"></i></a>
            <a href=""><i class="bi bi-facebook py-2 px-3 rounded-full border border-white text-white mr-2"></i></a>
            <a href=""><i class="bi bi-twitter py-2 px-3 rounded-full border border-white text-white mr-2"></i></a>
            <a href=""><i class="bi bi-youtube py-2 px-3 rounded-full border border-white text-white mr-2"></i></a>
            <a href=""><i class="bi bi-whatsapp py-2 px-3 rounded-full border border-white text-white"></i></a>
        </div>
    </div>
</footer>