<header class="border-b z-10 fixed w-full bg-white">
    <nav class="container flex mx-auto py-3 justify-between items-center font-pupylinux">
        <a href="/"><img src="/images/logo.png" width="130" alt=""></a>
        <ul class="flex font-medium text-sm tracking-wide items-center">
            <li class="mr-6">LIHAT MADIG</li>
            <li class="group flex items-center relative">
                SOCIAL MEDIA <span class="material-symbols-outlined">expand_more</span>
                <ul class="absolute bg-white px-3 rounded-lg bottom-10 h-0 overflow-hidden group-hover:-bottom-20 group-hover:h-20 group-hover:border transition-all duration-300">
                    <li class="py-2 border-b">INSTAGRAM</li>
                    <li class="py-2">YOUTUBE</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>